# 说明
##请点击“文件”下在云端硬盘保留副本，以自己名字命名，并共享给自己的老师，Ruby.Shi、Peter.Liu
##不仅需要答题，还需执行输出结果

# 数据准备

In [8]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# 第1题 查看dataframe基本信息

In [9]:
seperator = '\n' + ('*' * 20) + '\n'
def printSeperator():
  print(seperator)

In [10]:
# 打印tips行、列数
# 打印tips各列的数据类型
# 打印tips的索引
# 打印tips包含的列名
print(f'行列数：{tips.shape}')
printSeperator()
print(f"数据类型\n{tips.dtypes}\n")
printSeperator()
print(f"索引\n{tips.index}")
printSeperator()
print(f"列名\n{tips.columns}")

行列数：(244, 7)

********************

数据类型
total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object


********************

索引
RangeIndex(start=0, stop=244, step=1)

********************

列名
Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

# 第2题 列操作

In [17]:
# 查看day列去重后的值
# 统计sex列每个值的记录数
# 打印sex列转换为大写后的值
print(f'day列去重：{tips.day.unique().to_list()}')
printSeperator()
sexcount_df = tips.groupby('sex')['tip'].count()
print(f'不同性别人数:\n{sexcount_df}')
printSeperator()
uppser_sex = tips['sex'].apply(lambda name: name.upper())
tips.sex = uppser_sex
print(f'性别转大写：\n{tips.head()}')

day列去重：['Sun', 'Sat', 'Thur', 'Fri']

********************

不同性别人数:
sex
MALE      157
FEMALE     87
Name: tip, dtype: int64

********************

性别转大写：
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  FEMALE     No  Sun  Dinner     2
1       10.34  1.66    MALE     No  Sun  Dinner     3
2       21.01  3.50    MALE     No  Sun  Dinner     3
3       23.68  3.31    MALE     No  Sun  Dinner     2
4       24.59  3.61  FEMALE     No  Sun  Dinner     4

# 第3题 排序、切片查询

In [18]:
# 将tips按total_bill列倒序排序
# 取出排前10的记录的这些列：total_bill、tip、time
tips.sort_values(by='total_bill', ascending=False,inplace=True)
tips.head(n=10)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    MALE    Yes   Sat  Dinner     3
212       48.33   9.00    MALE     No   Sat  Dinner     4
59        48.27   6.73    MALE     No   Sat  Dinner     4
156       48.17   5.00    MALE     No   Sun  Dinner     6
182       45.35   3.50    MALE    Yes   Sun  Dinner     3
102       44.30   2.50  FEMALE    Yes   Sat  Dinner     3
197       43.11   5.00  FEMALE    Yes  Thur   Lunch     4
142       41.19   5.00    MALE     No  Thur   Lunch     5
184       40.55   3.00    MALE    Yes   Sun  Dinner     2
95        40.17   4.73    MALE    Yes   Fri  Dinner     4

# 第4题 分组运算、重置索引

In [29]:
 # 将tips按sex、time分组，并计算各组total_bill列的最小值、最大值、求和
 # 通过重置索引，将分层的结果平铺展示
total_bill_stat = tips.groupby(['sex','time'])['total_bill'].agg(['min','max','sum'])
total_bill_stat = total_bill_stat.reset_index()
total_bill_stat

      sex    time   min    max      sum
0    MALE   Lunch  7.51  41.19   595.60
1    MALE  Dinner  7.25  50.81  2661.22
2  FEMALE   Lunch  8.35  43.11   571.87
3  FEMALE  Dinner  3.07  44.30   999.08

# 第5题 新增列、数据类型转换

In [31]:
# 将sex列转换为字符串，放到新增的sex_str列
sex_str = tips['sex'].apply(lambda val:str(val))
tips['sex_str'] = sex_str
tips.head()

     total_bill    tip   sex smoker  day    time  size sex_str
170       50.81  10.00  MALE    Yes  Sat  Dinner     3    MALE
212       48.33   9.00  MALE     No  Sat  Dinner     4    MALE
59        48.27   6.73  MALE     No  Sat  Dinner     4    MALE
156       48.17   5.00  MALE     No  Sun  Dinner     6    MALE
182       45.35   3.50  MALE    Yes  Sun  Dinner     3    MALE

# 第6题 筛选

In [40]:
# 提取tips的两个子集
#    result1，筛选条件：sex为Female，smoker为Yes，day为Sun，提示：结果为4行记录
#    result2，筛选条件：total_bill大于50，提示：结果为1行记录
condition_female = tips.sex == 'FEMALE'
condition_smoker = tips.smoker == 'Yes'
condition_sun = tips.day == 'Sun'
result1 = tips[condition_female & condition_smoker & condition_sun]
print(f'第一个结果：\n{result1}')
printSeperator()

condition_bill_gt_50 = tips.total_bill > 50
result2 = tips[condition_bill_gt_50]
print(f'第二个结果：\n{result2}')

第一个结果：
     total_bill  tip     sex smoker  day    time  size sex_str
186       20.90  3.5  FEMALE    Yes  Sun  Dinner     3  FEMALE
188       18.15  3.5  FEMALE    Yes  Sun  Dinner     3  FEMALE
164       17.51  3.0  FEMALE    Yes  Sun  Dinner     2  FEMALE
178        9.60  4.0  FEMALE    Yes  Sun  Dinner     2  FEMALE

********************

第二个结果：
     total_bill   tip   sex smoker  day    time  size sex_str
170       50.81  10.0  MALE    Yes  Sat  Dinner     3    MALE

# 第7题 合并

In [82]:
# 用两种方式，将上一题的result2合并到result1，提示：结果为5行记录
result_concat = pd.concat([result1,result2])
print(f'concat合并：\n{result_concat}')
printSeperator()

result_append = result1.append(result2)
print(f'append合并：\n{result_append}')

concat合并：
     total_bill   tip     sex smoker  day    time  size sex_str
186       20.90   3.5  FEMALE    Yes  Sun  Dinner     3  FEMALE
188       18.15   3.5  FEMALE    Yes  Sun  Dinner     3  FEMALE
164       17.51   3.0  FEMALE    Yes  Sun  Dinner     2  FEMALE
178        9.60   4.0  FEMALE    Yes  Sun  Dinner     2  FEMALE
170       50.81  10.0    MALE    Yes  Sat  Dinner     3    MALE

********************

append合并：
     total_bill   tip     sex smoker  day    time  size sex_str
186       20.90   3.5  FEMALE    Yes  Sun  Dinner     3  FEMALE
188       18.15   3.5  FEMALE    Yes  Sun  Dinner     3  FEMALE
164       17.51   3.0  FEMALE    Yes  Sun  Dinner     2  FEMALE
178        9.60   4.0  FEMALE    Yes  Sun  Dinner     2  FEMALE
170       50.81  10.0    MALE    Yes  Sat  Dinner     3    MALE

# 第8题 Time

In [90]:
# 取出dates第一行记录的年份
dates = pd.DataFrame(pd.date_range(start='2019-10-25', freq='Y', periods=5), columns=['date_dt'])
year = dates.iloc[0]['date_dt'].year
year

2019

# 第9题 替换

In [94]:
# 将sex列的Female替换为女、Male替换为男
tips.sex.replace(['FEMALE','MALE'],['女','男'],inplace=True)
tips.head()

     total_bill    tip sex smoker  day    time  size sex_str
170       50.81  10.00   男    Yes  Sat  Dinner     3    MALE
212       48.33   9.00   男     No  Sat  Dinner     4    MALE
59        48.27   6.73   男     No  Sat  Dinner     4    MALE
156       48.17   5.00   男     No  Sun  Dinner     6    MALE
182       45.35   3.50   男    Yes  Sun  Dinner     3    MALE

# 第10题 函数、应用

In [111]:
# 定义一个函数，将传入的值转换为int
# 对tips的total_bill列运用该函数
def convert_to_int(val):
    ret = None
    try:
        ret = int(val)
    except:
        print('not valid int value')
    finally:
        return ret
bill_floor = tips.total_bill.apply(convert_to_int)
tips['total_bill_int'] = bill_floor
tips.head()

     total_bill    tip sex smoker  day    time  size sex_str  total_bill_int
170       50.81  10.00   男    Yes  Sat  Dinner     3    MALE              50
212       48.33   9.00   男     No  Sat  Dinner     4    MALE              48
59        48.27   6.73   男     No  Sat  Dinner     4    MALE              48
156       48.17   5.00   男     No  Sun  Dinner     6    MALE              48
182       45.35   3.50   男    Yes  Sun  Dinner     3    MALE              45