# 1. 免学部分
* p25，OrderedDict 相关部分免学
* p28  表2-2 Series的一些方法，了解就可以
* p35
* p37~p38 到 “可以使用 datetime 重新计算真实年龄“为止。
* p40~p44 只要学习2.6.2CSV, 2.6.3 Excel

# 2. 前言

* 大家在做题目前一定要先把第二章的书读一下
* 写本作业，请使用 Anaconda 里的 Notebook
* 我做了一个[打包下载 Link](https://downgit.github.io/#/home?url=https://github.com/liuhui998/pe2/tree/master/02-more-pandas), 大家下载下来解压后，使用 Notebook 打开

# 3. 学习概要
* 我会在每道题有前标明对的书页码
* 如果超纲我会提前提示，并加上资料 Link
---
知识点整理
* pd.Series 表示在 pd 包里的 Series 类
* pd.DataFrame 表示在 pd 包里的 DataFrame 类 [pandas.DataFrame()的参数解释](https://blog.csdn.net/u011495642/article/details/82875438)

# 4. 手工创建 Series
---
备注：这里综合了 24~27面的内容

* 创建一个 Series 对象 s
* 数据为 "China","Hunan","Peter"
* 索引为 "Country","Province","Name"
* 用两种方法输出 s 里的数据（提示第二种方法可以用 for 循环）
* 用两种方法输出 s 里的索引（提示第二种方法可以用 for 循环）

In [2]:
import pandas as pd
import numpy as np

In [3]:
#创建一个 Series 对象 s
#* 数据为 "China","Hunan","Peter"
#* 索引为 "Country","Province","Name"

ser = pd.Series(
    ["China","Hunan","Peter"],
    index = ["Country","Province","Name"]
)
ser

Country     China
Province    Hunan
Name        Peter
dtype: object

In [4]:
#用两种方法输出 s 里的数据（提示第二种方法可以用 for 循环）
for item in ser.values:
    print(item)

China
Hunan
Peter

In [5]:
#用两种方法输出 s 里的索引（提示第二种方法可以用 for 循环）
for idx in ser.index:
    print(idx)

Country
Province
Name

# 5. 手工创建 DataFrame
---
备注：这里综合了 25~27面的的内容

[pandas.DataFrame()的参数解释](https://blog.csdn.net/u011495642/article/details/82875438)

* 手工创建一个 DataFrame 对象 df
* 索引是 ["bu1","bu2","bu3","bu4"]
* 第1列 列名是"sales"(销售额）,  数据为 [200,100,300,70]
* 列2列 列名是"profit"(利润）, 数据为 [34,20,50,14]
* 用 loc 属性从 df中找 "bu1" 这一行，存到名为 bu1 的变量中
* 计算 bu1 的利润率 profit_ratio = (profit/sales),并且输出

  提示：bu1 是Series 对象，可以直接 bu1['index_name'] 来访问数据
  
  例如: bu1['sales'], bu1['profit']

In [6]:
#手工创建一个 DataFrame 对象 df
#索引是 ["bu1","bu2","bu3","bu4"]
#第1列 列名是"sales"(销售额）, 数据为 [200,100,300,70]
#列2列 列名是"profit"(利润）, 数据为 [34,20,50,14]

df = pd.DataFrame(
    data = {
       "sales" :  [200,100,300,70],
        "profit" : [34,20,50,14]
    },
    index = ["bu1","bu2","bu3","bu4"]
)
df

     sales  profit
bu1    200      34
bu2    100      20
bu3    300      50
bu4     70      14

In [7]:
# 用 loc 属性从 df中找 "bu1" 这一行，存到名为 bu1 的变量中
bu1 = df.loc['bu1',:]
bu1

sales     200
profit     34
Name: bu1, dtype: int64

In [8]:
#计算 bu1 的利润率 profit_ratio = (profit/sales),并且输出

pro_rat = bu1['profit'] / bu1['sales']
pro_rat

0.17

# 6. 数据过滤(Series)
---
备注：这里综合了第30面的的内容

* 把 df 的 sales 列取出，放到变量 sales 中
* 计算 sales 的平均值, 放到变量 mean_sales 中
* 找出所有 sales 中所有大于 mean_sales 的数值

In [9]:
#把 df 的 sales 列取出，放到变量 sales 中

sales = df['sales']
sales

bu1    200
bu2    100
bu3    300
bu4     70
Name: sales, dtype: int64

In [10]:
#计算 sales 的平均值, 放到变量 mean_sales 中
mean_sales = sales.mean()
mean_sales

167.5

In [11]:
#找出所有 sales 中所有大于 mean_sales 的数值
over_mean = sales[sales > mean_sales]
over_mean
result = sales > mean_sales
result

bu1     True
bu2    False
bu3     True
bu4    False
Name: sales, dtype: bool

# 7. 增加新列
---
备注：这里综合了 31，36两面的的内容
* 计算 df 中的利润率(profit_ratio = profit/sales), 存到 profit_ratio 中
* 为 df 新加一列 "profit_ratio", 把 profit_ratio 放到里面

In [12]:
# 计算 df 中的利润率(profit_ratio = profit/sales), 存到 profit_ratio 中

profit_ratio = df['profit'] / df['sales']
profit_ratio

bu1    0.170000
bu2    0.200000
bu3    0.166667
bu4    0.200000
dtype: float64

In [13]:
#为 df 新加一列 "profit_ratio", 把 profit_ratio 放到里
df['profit_ratio'] = profit_ratio
df

     sales  profit  profit_ratio
bu1    200      34      0.170000
bu2    100      20      0.200000
bu3    300      50      0.166667
bu4     70      14      0.200000

# 8. 数据排序(DataFrame)
---
备注：这里综合了 33,43面的内容，有部分超纲，有不明白的这题可以直接抄答案

我们发的 Pandas Cheat Sheet 有讲这一部分

这里还有详细的外部参考资料：[pandas 数据排序.sort_index()和.sort_values()](https://www.jianshu.com/p/f0ed06cd5003)

* 对 df 按 bu 名进行排序 （因为bu名放在索引里，可以使用 sort_index 方法)
* 对 df 按 bu 名进行降序排序 (在用 sort_index里，可以加 ascending=False参数）
* 对 df 按销售额(sales)进行排序 ( 可以使用 sort_values，提示增加 by 参数，指定列名即可)，
```
  df.sort_values(by='sales') #示例代码
```
  将结果写到 sort_sales.xlsx 文件
  
  
* 对 df 按利润(profit)进行排序 ( 可以使用 sort_values)，将结果写到 sort_profit.xlsx 文件

* 对 df 按利润率(profit_ratio)进行降序排序 ( 可以使用 sort_values)，将结果写到 sort_profit_ratio.xlsx 文件

In [14]:
#对 df 按 bu 名进行排序 （因为bu名放在索引里，可以使用 sort_index 方法)
df.sort_index()

     sales  profit  profit_ratio
bu1    200      34      0.170000
bu2    100      20      0.200000
bu3    300      50      0.166667
bu4     70      14      0.200000

In [15]:
#对 df 按 bu 名进行降序排序 (在用 sort_index里，可以加 ascending=False参数）
df.sort_index(ascending = False)

     sales  profit  profit_ratio
bu4     70      14      0.200000
bu3    300      50      0.166667
bu2    100      20      0.200000
bu1    200      34      0.170000

In [16]:
#对 df 按销售额(sales)进行排序 ( 可以使用 sort_values)， 将结果写到 sort_sales.xlsx 文件

df.sort_values(by = 'sales')

     sales  profit  profit_ratio
bu4     70      14      0.200000
bu2    100      20      0.200000
bu1    200      34      0.170000
bu3    300      50      0.166667

In [17]:
# 对 df 按利润(profit)进行排序 ( 可以使用 sort_values)，将结果写到 sort_profit.xlsx 文件

df.sort_values(by = 'profit')

     sales  profit  profit_ratio
bu4     70      14      0.200000
bu2    100      20      0.200000
bu1    200      34      0.170000
bu3    300      50      0.166667

In [18]:
#对 df 按利润率(profit_ratio)进行降序排序 ( 可以使用 sort_values)，将结果写到 sort_profit_ratio.xlsx 文件

df_sorted = df.sort_values(by = 'profit_ratio',ascending = False)
df_sorted.to_excel('profit_ratios_sorted.xlsx')

# 9. 数据删除
---
备注：这里综合了 40，43面的的内容

* 删除 df 里的 "profit","profit_ratio" 两列, 存到 public_sales 中
* 把 public_sales 保存为 public_sales.xlsx 文件

In [19]:
#删除 df 里的 "profit","profit_ratio" 两列, 存到 public_sales 中
public_sales = df.drop(['profit','profit_ratio'] , axis = 1)
public_sales

     sales
bu1    200
bu2    100
bu3    300
bu4     70

In [20]:
# 把 public_sales 保存为 public_sales.xlsx 文件
public_sales.to_excel('public_sales.xlsx')

# 10. 数据过滤(DataFrame)
---
备注：这里综合了 34，43面的的内容

同时有还会有如何在一个Excel文件写入多个Sheet的超纲内容，这一部分不会可以抄答案，我是想尽可能的模拟大家工作中场景！

参考 Link: [DataFrame.to_excel多次写入不同Sheet](https://blog.csdn.net/wangxingfan316/article/details/79628463)

* 把 df 的 sales 列取出，放到变量 sales 中
* 计算 sales 的平均值, 放到变量 mean_sales 中
* 找出 df 所有 sales 值大于 mean_sales的数据，放到 high_sales 中
* 找出 df 所有 sales 值小于 mean_sales的数据，放到 high_sales 中
* 把 high_sales,low_sales 分别写到 new_sales.xlsx 的 high_sales,low_sales 两个sheet 中

In [21]:
# 把 df 的 sales 列取出，放到变量 sales 中
# 计算 sales 的平均值, 放到变量 mean_sales 中

sales = df['sales']
mean_sales = sales.mean()
mean_sales

167.5

In [22]:
#找出 df 所有 sales 值大于 mean_sales的数据，放到 high_sales 中
high_sales = sales[sales > mean_sales]
high_sales

bu1    200
bu3    300
Name: sales, dtype: int64

In [23]:
#找出 df 所有 sales 值小于 mean_sales的数据，放到 high_sales 中

low_sales = sales[sales < mean_sales]
low_sales

bu2    100
bu4     70
Name: sales, dtype: int64

In [24]:
# 把 high_sales,low_sales 分别写到 new_sales.xlsx 的 high_sales,low_sales 两个sheet 中
writer = pd.ExcelWriter("new_sales.xlsx")
high_sales.to_excel(writer,'high_sales')
low_sales.to_excel(writer,'low_sales')
writer.save()

In [27]:
df2 = df[(df.sales > 100) & (df.profit > 30)]
df2

     sales  profit  profit_ratio
bu1    200      34      0.170000
bu3    300      50      0.166667

In [38]:
df['boo'] = df.sales > 200
df
df3 = pd.merge(df,df2,on = 'profit')
df3['new_pro'] = df3.profit_ratio_y * df3.sales_x
df3.index = ['bu1','bu2']
df3

     sales_x  profit  profit_ratio_x    boo  sales_y  profit_ratio_y  new_pro
bu1      200      34        0.170000  False      200        0.170000     34.0
bu2      300      50        0.166667   True      300        0.166667     50.0

In [40]:
df4 = df.join(df3.new_pro)
df4

     sales  profit  profit_ratio    boo  new_pro
bu1    200      34      0.170000  False     34.0
bu2    100      20      0.200000  False     50.0
bu3    300      50      0.166667   True      NaN
bu4     70      14      0.200000  False      NaN

In [41]:
pivot_table = pd.pivot_table(
    df4,
    values = 'sales',
    index = ['boo','new_pro'],
    aggfunc = np.sum
)
pivot_table

               sales
boo   new_pro
False 34.0       200
      50.0       100

# 11. 日期转换
--- 
备注: 这里综合了 36 面的内容

大家如果不懂 format 里 %m %d %Y 的意义，可以看： [Python datetime 格式化字符串](https://blog.csdn.net/shomy_liu/article/details/44141483)

业务背景，我们下载了最近的美国新冠日感染数据时行分析

字段解释: day(日期), new_num(日新感染数), sma7(7天移动平均数）

* 读取 us_daily.xlsx， 放到 us_daily 中
* 将 day 转换成日期类型, 并覆盖原来的 day 字段

In [ ]:
#读取 us_daily.xlsx， 放到 us_daily 中
us_daily = pd.read_excel('us_daily.xlsx')
us_daily

In [ ]:
# 看一下原始数据是什么类型的
us_daily.dtypes

In [ ]:
# 将 day 转换成日期类型, 并覆盖原来的 day 字段
# 书上面是用 - 分隔，这份数据是用 / 分隔，所以这里用 /
day = pd.to_datetime(us_daily['day'],format = '%m/%d/%Y')
us_daily['day']  = day
us_daily.dtypes

# 12. 可视化初步（无题目）
---
今天早上有同学说想学可视化，所以我决定今天多超几次纲，反正还有周末，大家看看就好！

[Plotly 图表简介](https://plotly.com/python/)

[Plotly和Pandas配合简介（英文）](https://plotly.com/python/pandas-backend/)

* 首先我们安装 plotly  kaleido cufflinks 这三个包（只用安装一次就好）
* 你安装成功后就可以在 !pip 前加一个 #, 这样下次就不用重复安装

In [ ]:
# !pip install -U plotly  kaleido cufflinks

* pandas 以前默认只支持 matplotlib 用来画图
* 后面提供了新机制支持不同的画图工具，我们修改 pd.options.plotting.backend 的值，来使用 plotly 来画图
* 因为疫情数据和时间相关，是时间序列，我们在这里把 day列 转成索引(index)
* 最后直接在 new_us_daily 上调用 plot() 就把图画出来了

In [ ]:
pd.options.plotting.backend = "plotly"

In [ ]:
new_us_daily = us_daily.set_index("day")
new_us_daily.head()

In [ ]:

fig = new_us_daily.plot()
fig.show()

* 在 show 中增加了格式参数，这样在 github 中也可以看到图片

In [ ]:
fig.show('png')

* 把图表导出成图片

In [ ]:
fig.write_image("us_daily.png")

* 把图表导出成网页

In [ ]:
fig.write_html("us_daily.html")

# 附录. 学习资料Link

* [pandas.DataFrame()的参数解释](https://blog.csdn.net/u011495642/article/details/82875438)
* [pandas 数据排序.sort_index()和.sort_values()](https://www.jianshu.com/p/f0ed06cd5003)
* [DataFrame.to_excel多次写入不同Sheet](https://blog.csdn.net/wangxingfan316/article/details/79628463)
* [Python datetime 格式化字符串](https://blog.csdn.net/shomy_liu/article/details/44141483)
---
* [Plotly 图表简介](https://plotly.com/python/)
* [Plotly和Pandas配合简介（英文）](https://plotly.com/python/pandas-backend/)